.app{
    box-sizing: border-box;
    display:flexbox;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: calc(12px + 1vh);
    overflow: hidden;
    text-overflow: clip;
    text-align: center;
}
.appHeader{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: calc(24px + 1vh);
}
.appSubheader{
    font-weight: normal;
    font-size: calc(16px + 1vh);
    padding-bottom: 2vh;
}
.compilerHolder{

}